ul li {
  list-style: none;
}

ul li::before {
  content: '* ';
  display: block;
  width: 30px;
  height: 3px;
  background: #000;
}

ul li::after {
  content: '* ';
}

html {
  scroll-behavior: smooth;
}

main {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: x-large;
  text-align: center;
}

h2 {
  font-size: large;
}

.sub {
  color: black;
  font-size: large;
  text-align: left;
}

.explain {
  font-size: small;
  margin-left: 10px;
}

li {
  margin-top: 10px;
  margin-left: 20px;
}