main {
  margin-top: 0;
}

.html_title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 30px;
}

.html_subtitle {
  font-size: large;
  text-align: left;
  font-weight: bold;
}

.html_list {
  font-size: large;
  margin-left: 20px;
}

.html_explain {
  font-size: small;
  margin-left: 10px;
}

.html_list li {
  margin-top: 10px;
  font-size: 16px;
}

.html_list li:last-child {
  margin-bottom: 10px;
}

xmp {
  padding-left: 10px;
  padding-Right: 10px;
  font-weight: bold;
  width: min-content;
  color: black;
  background: rgb(13, 209, 253);
  border: 4px;
  border-width: 10px;
  border-color: black;
  border-radius: 5px;
}

pre {
  font-weight: bold;
  width: min-content;
  background: white;
  color: black;
  border: 4px;
  border-color: blue;
}